# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/src/main/java/com.ikun.client/view/test.java
/src/main/java/com.ikun.client/view/test.form
/src/main/java/com.ikun.client/view/test.jfd
